body {
    background-color: rgb(149, 193, 250)
}
/*above shows the background color of the whole page*/

header h1 {
    margin: 20px;
    padding-top: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li button {
    margin-right: 25px;
    font-weight: bold;
    block-size: 25px;
}

aside {
    flex: 1;
    padding: 20px;
}

.box-Bio {
    width: 600px;
    height: 150px;
    background-color: rgba(109, 171, 252, 0.897);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
/*above shows the sizing and background color of the bio box*/

.box-Work {
    width: 600px;
    height: 400px;
    background-color: rgba(109, 171, 252, 0.897);
}

.MainHeader {
color: black;
}
/*above shows the font color of the header*/

header article {
    padding-top: none; */
    margin-right: 20px;
    float: right;
}
/*above shows the positioning of the buttons*/

.box-Work img {
    max-height: 250px;
    display: inline-block;
}
/*above shows sizing of my work image*/

.image-padding {
    padding: 20px;
}
/*above shows the padding between the images*/



