body {
    background-color: rgb(149, 193, 250)
}
/*above shows the background color of the whole page*/

.box {
    width: 600px;
    height: 150px;
}
/*above shows the sizing of the boxes*/

.box-Bio {
    background-color: rgba(109, 171, 252, 0.897);
}
/*above shows the background color of the box titled Bio*/

.MainHeader {
color: black;
}
/*above shows the font color of the header*/

main article {
    padding-top: none;
    margin-right: 20px;
    float: right;
}
/*above shows the positioning of the buttons*/

.Bio img {
    max-height: 200px;
    display: inline-block;
}
/*above shows sizing of the main image*/
